
html{
	background-color:#eeeeee;	
}

.header{
	height:150px;
	background-image:url('../img/header/head_bg.gif');
	background-repeat:repeat-x;
	text-align:center;
}

.separator{
	height:55px;
	width:6px;
	float:left;
}

.menu{
	height:55px;
	margin: 0 auto;
}

.menu .botao{
	height:55px;
	float:left;
}

.menu .botao .corpo_botao{
	text-align:center;
	height:45px;
	font-family:"Segoe UI";
	font-size:22pt;
}

.menu .botao .faixa_botao{
	height:10px;
}
.corpo{
	
}

.footer{
	height:130px;
	float:right; 
	margin: 25px; 
	color:rgb(80, 80, 80); 
	font-family:"Segoe UI";
	font-size:18pt;
}

.centralizaDiv{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 10000px;
}

.innerCentraliza {
    display: table;
    margin: 0 auto;
}

.nao_selecionado{
	height:3px; 
}